rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Game settings and questions can be read and updated by coordinators
    match /game_config/{document} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
